html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0px; 
    box-sizing: border-box;
}
.siteHeader{
    background-color: #E6DCC9;
    height:h 140px;
    color: #553917;
    padding: 8px;
    font-size: 2em;
}
.main{
    max-width: 80%;
    margin: 16px auto;
}
h1{
    color:#553917;
}
p{
    color:#553917;
}
h3{
    color:#553917;
}
h5{
    color: #553917;
}
